:root {
  font-size: 14px;

    --white:#efff;
  --light-blue-gray: #dbefff;
  --light-blue: #8dccff;
  --blue-grey: #dbefff;
  --dark-light-blue: #dbefff;
}

body {
  margin: 0rem;
  padding: 0rem;
}

#global-container {
  background-color: var(--light-blue-gray);
  height: 100vh;
}

#main-container {
  padding-top: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2rem;
 
}

#sketch-grid-container {
  background-color: var(--light-blue);
  height: clamp(10rem, 80vw, 40rem);
  width: clamp(10rem, 80vw, 40rem);
}

#sketch-grid {
  display: grid;

  height: 100%;
  width: 100%;

  transition: all 1s ease-in-out;
}

.square {
  outline: 0.rem solid red;
  background-color: white;
}

#sketch-options-container {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

input[type="color"] {
}

#options-general{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 1rem;
  gap: 2rem;
}

#grid-reset{
  cursor: pointer;
  border: 0rem;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  background-color: var(--light-blue);
}
#options-grid {
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  gap: 0.6rem;

  flex-wrap: wrap;
  transition: all ease-out 0.2s;
}



.grid-proportion {
  cursor: pointer;
  border: 0rem;
  border-radius: 1rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  background-color: var(--blue-grey);
  transition: 0.2s all;
}


.grid-proportion:hover {
  transform: scale(1.04);
}


@media (max-width: 800px){
  #options-grid{
    flex-flow: row;
    
  }
}