:root {
  font-size: 14px;

  --light-blue-gray: #dbefff;
  --light-blue: #8dccff;
}

body {
  margin: 0rem;
  padding: 0rem;
}

#global-container {
  background-color: var(--light-blue-gray);
  height: 100vh;


}

#main-container {
  padding-top: 100px;
  
  display: flex;
  align-items: center;

  gap: 2rem;
  flex-flow: column;
}

#sketch-grid-container {
  background-color: var(--light-blue);
  height: 40rem;
  width: 40rem;
}

#sketch-grid {
    background-color: black;
  display: grid;
    gap: 1px;
  height: 100%;
  width: 100%;
}


.square {

  background-color: white;
}

#sketch-options-container {
  background-color: var(--light-blue);
  padding: 0.4rem;
  border-radius: 2rem;  
  display: flex;
  gap: 0.6rem;

  transition: all ease-out 0.2s;

}

#sketch-options-container:hover{
  transform: scale(1.04);
}

#sketch-options-container>button{
  border: 0rem;
  border-radius: 1.2rem;
  padding: 0.6rem;
  font-size: 1.2rem;

}

#sketch-options-container>button:hover{
  cursor: pointer;
}