:root {
  font-size: 14px;

  --white: #ffffff;
  --light-grey: #efefef;
  --grey: #cccccc;
  --grey-blue: #f1f1f1;
  --light-blue: #4ea4be;
  --blue: #5d48fa;
  --blue-dark: #1e00fe;
  --red: #fa4a4a;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: grid;
  font-family: sans-serif;
  grid-template-rows: 6rem 6rem 1fr;
}

#header {
  border-bottom: 0.25rem solid var(--grey-blue);
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  align-items: center;
}

#header > #library-title {
  display: flex;

  align-items: center;

  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}
.options-group {
  display: flex;
  gap: 1rem;
}

#head-options {
  border-bottom: 0.25rem solid var(--grey-blue);
  display: flex;
  justify-content: space-between;
  padding-inline: 4rem;
  align-items: center;
}

#search-bar {
  display: flex;
  gap: 1rem;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--grey);
  padding: 0.6rem;
  max-width: 36rem;
  width: 100%;
}

#search-bar > input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
}

.option {
  padding: 0.8rem;
  border-radius: 0.8rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}
.option.create-option {
  background-color: var(--light-blue);
  color: var(--white);
}

#content {
  padding: 2rem;
  padding-inline: 8rem;
  background-color: var(--grey-blue);
  display: flex;
  flex-flow: column;
}

#content-title {
  height: 6rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}

#books-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.book-element {
  padding: 2rem;
  background-color: var(--white);
  border: 0.2rem solid var(--grey);
  width: 16rem;
  height: 18rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 1rem;
}

.book-element-header {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  padding-bottom: 0.4rem;
  color: black;
  font-weight: 600;
}

.book-element-header-title {
  font-size: 1.2rem;
}
.book-element-sub {
  color: grey;
  font-weight: 500;
  padding: 0.2rem;
}

.book-options {
  display: flex;
  justify-content: space-between;
}

.book-options > .book-op {
  padding: 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.book-op {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  height: 1.5rem;
  cursor: pointer;
}

.book-op.book-edit {
  border: 0.2rem solid var(--grey);
}
.book-op.book-del {
  background-color: var(--red);
  color: var(--white);
  font-weight: 500;
}

.material-symbols-outlined.book-icon {
  border: 0.2rem solid var(--grey-blue);
  border-radius: 0.8rem;

  padding: 1rem;
}
